{% extends "management/resource/checker/checker.html" %}

{% block control %}
    <div class="form-group" style="margin-left: 20px">
        <label>批量选帧</label>
        <button class="btn btn-primary" type="button" v-on:click="batchJump(-1)"> < 1</button>
        <button class="btn btn-primary" type="button" v-on:click="batchJump(-steps)"> < [[steps]]</button>
        <button class="btn btn-primary" type="button" v-on:click="batchJump(steps)"> > [[steps]]</button>
        <button class="btn btn-primary" type="button" v-on:click="batchJump(1)"> > 1</button>
    </div>
    <div class="form-group" style="margin-left: 20px;margin-right: 20px">
        <label>标签</label>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="null" value=-1 v-on:click="select(-1)"
                       v-model="value">
                null
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="non-yellow" value=0 v-on:click="select(0)"
                       v-model="value">
                Not - Porn
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="yellow" value=1 v-on:click="select(1)"
                       v-model="value">
                Porn
            </label>
        </div>
    </div>
    <button class="btn btn-primary" type="button" v-on:click="submit">提交</button>
{% endblock %}

{% block progress %}
    <div class="progress">
        <div class="progress-bar"
             v-bind:class="{
                     'progress-bar-danger':pd['value'] == -1 ? 1 : 0,
                     'progress-bar-success':pd['value'] == 0 ? 1 : 0,
                     'progress-bar-warning':pd['value'] == 1 ? 1 : 0
                     }"
             v-bind:style="{width: pd['count']/resourceVOs.length * 100 + '%'}"
             v-for="pd in progressData"></div>
    </div>
{% endblock %}

{% block bodyjs %}
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                resourceVOs: [],
                value: null,
                progressData: []
            },
            methods: {
                select: function (v) {
                    this.value = v;
                    this.resourceVOs[this.curFrameIndex - 1]['value'] = v;
                },
                batchJump: function (num) {
                    num = parseInt(num);
                    if (this.value == null) {
                        alert("请选择你喜欢的标签！");
                        return;
                    }

                    var bFrame = this.curFrameIndex;
                    this.jump(num);

                    var begin = -1;
                    var end = -1;
                    if (bFrame < this.curFrameIndex) {
                        begin = bFrame - 1;
                        end = this.curFrameIndex;
                    } else {
                        begin = this.curFrameIndex - 1;
                        end = bFrame;
                    }

                    for (var i = begin; i < end; i++) {
                        this.resourceVOs[i]['value'] = this.value;
                    }

                    this.progressData = getProgressData(this.resourceVOs);
                    console.log(this.progressData);
                    //var s = "";
                    //for (var i = 0; i < this.resourceVOs.length; i++) {
                    //    s += this.resourceVOs[i]['value'] + ","
                    //}
                    //console.log(s)
                },
                submit: function () {
                    // 找出数据差集

                    var data = {
                        null: [],
                        0: [],
                        1: []
                    };
                    var v = undefined;
                    for (var i = 0; i < this.resourceVOs.length; i++) {
                        v = this.resourceVOs[i]['value'] == -1 ? null : this.resourceVOs[i]['value'];
                        if (v == this.resources[i]['value']) {
                            continue
                        }
                        data[v].push(this.resourceVOs[i]['id']);
                    }
                    if (data[null].length != 0 || data[0].length != 0 || data[1].length != 0) {
                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'POST',
                            url: '/management/resource/batch_update_value',
                            data: JSON.stringify({"data": data, "resourceId": this.resourceId}),
                            success: function successCallBack(data) {
                                if (data["code"] == 0) {
                                    alert("提交成功");
                                    $("#focusButton").focus();
                                }
                            }
                        });
                    }
                }
            }
        });

        function getProgressData(resourceVOs) {
            var results = [];
            var dataObject = {"value": resourceVOs[0]["value"], "count": 0};
            for (var i = 0; i < resourceVOs.length; i++) {
                if (resourceVOs[i]["value"] == dataObject["value"]) {
                    dataObject["count"] += 1;
                } else {
                    results.push({"value": dataObject["value"], "count": dataObject["count"]});
                    dataObject["value"] = resourceVOs[i]["value"];
                    dataObject["count"] = 1
                }
            }
            if (dataObject["count"] > 0) {
                results.push(dataObject);
            }
            return results;
        }

        var resourceVOs = [];
        for (var i = 0; i < app.resources.length; i++) {
            resourceVOs.push({
                "id": app.resources[i]["id"],
                "value": app.resources[i]['value'] == null ? -1 : app.resources[i]['value']
            })
        }
        app.resourceVOs = resourceVOs;
        app.value = app.resources[0]['value'] == null ? -1 : app.resources[0]['value'];

        app.progressData = getProgressData(app.resourceVOs);

        $("#focusButton").focus();

    </script>
{% endblock %}